<div class="container-fluid bg-secondary text-white p-3">
        <div class="row mt-5">
            <div class="col-12">
                <h1 class="d-inline-block text-light">Welcome,</h1>
                <h1 class="d-inline-block text-light">Have a nice day..</h1>
            </div>
        </div>
        
    </div>
    <a href="/user/logout">
    <button class="btn btn-outline-danger" style="position: absolute;
            top: 20px;
            right: 20px;">Logout</button>
    </a>
